{% load tailwind_tags %}
{% load static %}
{% load percentage %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cantopop Lyrics Generator</title>
        {% tailwind_css %}
    </head>
    <body class="p-5">
        <h1 class="font-bold text-3xl">Tone2Cantopop</h1>
        <div class="flex flex-row">
            <div class="mr-10">
                <form method="post" class="ml-3" style="margin-top: 30px; margin-bottom: 30px;">
                    {% csrf_token %}
                    <div class="flex flex-row">
                        <div class="flex flex-col mr-5">
                            {{ form.tone.label }}
                            {{ form.tone }}
                        </div>
                        
                        <div class="flex flex-col flex-wrap" >
                            {{ form.number_of_sample.label }}
                            {{ form.number_of_sample }}
                        </div>
                    </div>
                    <button type="submit" id="btnUpload" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 rounded">Generate</button>
                </form>
            </div>
            <div>
                <p>
                    Step to write Cantonpop Lyrics using this website<br>
                    1.	Convert a music melody to the tones of Cantonese based on the pitch of the music notes.<br>
                    2.	Input the tones and the model will help you fill in the lyrics.
                    <br><br>
                    notes: <br>
                    tone 1, 2 generally refers to high pitch<br>
                    tone 3, 5 generally refers to middle-high pitch<br>
                    tone 6 generally refers to middle-low pitch<br>
                    tone 4 generally refers to low pitch<br>
                    <br>
                    No fixed rule in melody-tone conversion!<br>
                    It's flexible to do the conversion as long as following the corresponding range from tone to melody pitch!
                </p>
            </div> 
        </div>
        <div>
            <button id="dropdown" class="border-solid border-2 font-bold p-1 border-black rounded">Voices</button>
            <div id="voices" class="hidden">
                <option class="voice" value=0>Male</option>
                <option class="voice" value=1>Female</option>
            </div>
        </div>
        
        {% if output %}
            <div class="w-1/2 mt-4  rounded">
                <!-- Tabs -->
                <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
                    {% for lyrics in output%}
                        <li class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2 border-blue-400 rounded-t opacity-50">
                            <a id="{% if forloop.counter == 1 %}default-tab{% endif %}" href="#{{ forloop.counter }}">{{ forloop.counter }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Tab Contents -->
                <div id="tab-contents">
                    {% for lyrics in output%}
                        <div class="{% if forloop.counter != 1 %}hidden{% endif %}" id="{{ forloop.counter }}" >
                            <div>
                                <button type="submit" class="speak border-solid border-2 font-bold p-1 border-black rounded">speak</button>
                            </div>
                            <div class="flex flex-row whitespace-nowrap">
                                <div>
                                    <br>
                                    <textarea id="lyrics{{ forloop.counter }}" rows="30" cols="50" readonly>{{lyrics.lyrics}}
                                    </textarea>
                                </div>
                                <div class="p-4 transform -translate-y-1">
                                    <p>Input Tone</p>
                                    {{input|linebreaks}}
                                </div>
                                <div class="p-4 transform -translate-y-1">
                                    <p>Output Tone</p>
                                    {{lyrics.tone|linebreaks}}
                                </div>
                                <div>
                                    <h2 class="mt-3">Tone Accuracy</h2>
                                    <p>{{lyrics.accuracy|percentage}}</p>
                                </div>                                
                            </div>
                            
                        </div>                            
                    {% endfor %}
                </div> 
            </div>
        {% endif %}

    </body>
    <script src="{% static "tab.js" %}"></script>
    <script src="{% static "text2speech.js" %}"></script>
</html>